/* Define o estilo do cabeçalho da página */
header {
    background-color: #a6ced8; 
    box-shadow: inset; 
    width: 100%; 
    height: 80px; 
}

/* Estilo para um elemento com a classe 'cabecalho' */
.cabecalho {
    width: 250px; 
    height: 80px; 
    float: left; 
}

/* Estilo para imagens dentro de um elemento com a classe 'FOTOPEIXE' */
.FOTOPEIXE img {
    width: 100%; 
    height: 800px; 
    float: left; 
}

/* Estilo para elementos com a classe 'text' */
.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: medium; 
    background-color: #a6ced8; 
    align-items: center; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: center; 
}

/* Define o estilo do corpo da página */
body {
    background-color: #a6ced8; 
}

/* Estilo para elementos com a classe 'nos' */
.nos {
    width: 800px; 
    height: 640px; 
    align-items: center; 
    display: flex; 
    margin-right: 80px; 
}

/* Estilo para elementos com a classe 'apoiadores' */
.apoiadores {
    display: flex; 
    position: relative; 
    align-items: flex-start; 
    text-align: left; 
    font-size: larger; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    margin-right: 80px; 
}

/* Estilo para elementos com a classe 'voto' */
.voto {
    display: flex; 
    position: relative; 
    font-size: 200px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    direction: inherit; 
    float: right; 
    background-color: aqua; 
    border-color: red; 
    border-radius: 2px; 
}

/* Estilo de hover para a classe 'voto' */
.voto:hover {
    background-color: #ff2525; 
}

/* Estilo para elementos com a classe 'conteiner' */
.conteiner {
    display: flex; 
    align-items: center; 
}
